html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
  height: 100%;
}

#paint {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#map {
  height: 100%;
}
